@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

.main-sidebar {
  height: 100%;
  width: 100%;
  background: rgb(19, 19, 19);
  margin-top: 300px;
}

* {
  font-family: "Poppins", sans-serif;
}

.sideBar {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(111, 142, 245);
  gap: 25px;
  margin: 40px;
  font-size: 25px;
}

.header h1 {
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.main-homepage {
  height: 100%;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  gap: 30px;
}

.items h1 {
  color: rgb(177, 177, 177);
  display: flex;
  gap: 25px;
  align-items: center;
  transition: all 0.2s ease;
  font-size: 20px;
}

.items h1:hover {
  cursor: pointer;
}

.top {
  background: rgb(32, 32, 32);
  padding: 14px;
  margin: 24px;
  border-radius: 20px;
}

.medium {
  background: rgb(32, 32, 32);
  padding: 14px;
  margin: 24px;
  border-radius: 20px;
}

.medium h1 {
  font-size: 20px;
}

.bottom {
  padding: 14px;
  margin: 24px;
  border-radius: 20px;
  margin-top: 140px;
}

.bottom h1 {
  font-size: 20px;
}

h1.activeText {
  color: white;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
