.sidebarSide {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  margin-top: -300px;
}

.libraryMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.library {
  width: 70%;
  height: 100%;
}

.library-header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

.song-cards {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 31px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
